@charset "utf-8";

*{
    font-family: Arial, Sans-Serif;
    margin: 0px;
    padding: 0px;
}
header{
    background-color: white;
    text-align: center;
    width: 100%;
}
header h1{
    
    color: red;
    font-weight: bolder;
    font-size: 5em;
    padding-top: 50px;
}
header p{
    color: lightblue;
    font-size: 2em;
    padding-bottom: 50px;
}

html,body{
  
    background-color: blue;
    
    
}
main{
    background-color: white;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    margin-top: 20px;
    max-width: 600px;
    min-width: 300px;
    
}
main h1{
    text-align: center;
    font-weight: bolder;
    font-size: 3em;
}

main p {
    
}
section{
    background-color: white;
    padding: 10px; 
    margin: auto;
    border-radius: 15px;
    margin-top: 20px;
    max-width: 600px;
    min-width: 300px;
}
section.dados{
    background-color: white;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    

    
}
div{
    padding: 10px;
    text-align: center;
}
p.quarto:hover div.segunda{
    display: block;
}
 div.segunda{
    display:none;
}