@charset "utf-8";

*{
    font-family: Arial, Sans-Serif;
    margin: auto;
    padding: 0px;
}
header{
    background-color: white;
    text-align: center;
    width: 100%;
}
header h1{
    
    color: red;
    font-weight: bolder;
    font-size: 5em;
    padding-top: 50px;
}
header p{
    color: lightblue;
    font-size: 2em;
    padding-bottom: 50px;
}

html,body{
    height: 100vh;
    width: 100vw;
    background-color: blue;
    
    min-width: 200px;
}
main{
    background-color: white;
    margin: 30px 20px 30px 0px;
    border-radius: 0px 20px 20px 0px;
    padding: 10px 30px 10px 50px;
    max-width: 500px;
    
}
main h1{
    text-align: center;
    font-weight: bolder;
    font-size: 3em;
}

main p {
    
}
section{
    background-color: white;
    margin: 10px 0px 30px 30px;
    padding: 10px 10px 10px 20px;
    border-radius: 20px 0px 0px 20px;
    max-width: 500px;
}
section.dados{
    background-color: white;
    margin: 10px 20px 10px 0px;
    border-radius: 0px 20px 20px 0px;
    

    
}
div{
    padding: 10px;
    text-align: center;
}
p.quarto:hover div.segunda{
    display: block;
}
 div.segunda{
    display:none;
}